<h4 class= "text-center py-1 ms-2">Para ver las postulaciones debe solcitar tu clave a Esteban</h4>
<h4 class= "text-center py-1 ms-2">Una vez registrados se les enviara un mensaje por interno para las postulaciones</h4>
<h4 class= "text-center py-1 ms-2">Se les recuerda que todo usuario o usuaria debe tener imagen de perfil</h4>
<br>
<img src="https://mileoadvisers.com/wp-content/uploads/2023/05/19-1536x864.jpg" class="img-fluid" alt="...">

