<% content_for :title, "Editing post" %>

<h3> Edita postulacion</h3>

<%= render "form", post: @post %>

<br>

<div>
  <%#= link_to "Ver  Postulación", @post,  class:"btn text-light bg-dark px-4 py-2 mb-2 mt-2  gap-3"%>
  <%#= link_to "volver a psotulaciones", posts_path,  class:"btn text-light bg-dark px-4 py-2 mb-2 mt-2  gap-3" %>
</div>