<p style="color: green"><%#= notice %></p>

<% content_for :title, "Posts" %>

<h3 class= "text-center">Estas son las ofertas laborales</h3>

<div id="posts">
<br>
<br>
<br>
<table class="table table-striped ms-5 ty-5">
      <thead>


    <tr>
      <th scope="col"># <p>1</p></th>
      <th scope="col">Solicitud <p>Esteban Director General</p></th>
      <th scope="col">Nueva oferta de laboral <p>Director de marketing</p></th>
         <th scope="col">Postulación <p>Hasta el 30 de enero del 2025</p></th>
      <%# <th scope="col">nro. de postulación</th> %>
      
    </tr>

    <tr>
      <th scope="col"> <p>2</p></th>
      <th scope="col"><p>Esteban Director General</p></th>
      <th scope="col"><p>Especialista SEO/SEM</p></th>
         <th scope="col"><p>Hasta el 25 de enero del 2025</p></th>
      <%# <th scope="col">nro. de postulación</th> %>
      
    </tr>

    <tr>
      <th scope="col"> <p>3</p></th>
      <th scope="col"><p>Esteban Director General</p></th>
      <th scope="col"><p>Desarrollador Web Full Stack</p></th>
         <th scope="col"><p>Hasta el 21 de enero del 2025</p></th>
      <%# <th scope="col">nro. de postulación</th> %>
      
    </tr>
  </thead>
<tbody>

  <% @cuenta = 0 %> 
  <% @posts.each do |post| %>
  <% @cuenta = @cuenta + 1 %> 
    <tr>
      <th scope="row"><%= @cuenta %>  </th>
      <td> <%= post.observation %> </td>
        <td>
          <% if post.asset?%>
                Activa    
                <%#= link_to "Ver", post, class: "btn text-light bg-dark px-3 py-1 mb-1 mt-1 btn-sm  justify-end" %>
            <% else %>
                NO Activa   
            
            <% end %>
            <%# <div class="d-grid gap-2 d-md-flex justify-content-md-end"> %>
            
            <%# </div> %>
          </td>
          <td>
              <%= link_to "Ver", post, class: "btn text-light bg-dark px-3 py-1 mb-1 mt-1 btn-sm  justify-end" %>
          </td>
    </tr>

  <% end %> 
</tbody>




</table>



</div>
<br>
<br>
<br>
<%= link_to "Nueva postulación", new_post_path,  class: "btn text-light bg-dark px-3 py-1 mb-1 mt-1 btn-sm  justify-end ms-5" %>